.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-slow-down infinite 1s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-slow-down {
  from { transform: rotate(0deg); }
  to { transform: rotate(0deg); }
}
